[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.5.0
[submodule "lib/gas-optimization"]
	path = lib/gas-optimization
	url = https://github.com/WallStFam/gas-optimization
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.2
[submodule "lib/ERC721Psi"]
	path = lib/ERC721Psi
	url = https://github.com/estarriolvetch/ERC721Psi
	branch = v0.7.0
[submodule "lib/solidity-bits"]
	path = lib/solidity-bits
	url = https://github.com/estarriolvetch/solidity-bits
	branch = v0.4.0
